@media (min-width: 1650px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 600px !important;
    }
}
@media (max-width: 600px) {
    .button-main.Verify-btn,
    .finger-screen-btn {
        position: fixed;
        width: 100%;
        margin: 0 auto;
    }
    .best-sellers-slider .featured-img-box {
        width: 200px;
        max-width: 200px;
        height: 240px;
    }
    .new-arrivals .featured-img-box {
        width: 500px;
    }
    .Tabcondent-search-screen .new-arrivals .featured-img-box {
        width: 100%;
    }
}
@media (max-width: 540px) {
    .gol3 {
        width: 70px;
        height: 70px;
        bottom: 100px;
    }
    .navigation {
        position: fixed;
        bottom: 18px;
    }
}
@media (max-width: 470px) {
    .gol3 {
        width: 60px;
        height: 60px;
        bottom: 94px;
    }
}
@media (max-width: 400px) {
    .gol3 {
        width: 55px;
        height: 55px;
        bottom: 90px;
    }
}
@media(max-width:375px) {
    .mind-items {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .navigation {
        padding: 0 20px;
    }
    .Categories-screen-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 12px 10px;
    }
}
@media(max-width:350px) {
    .gol3 {
        width: 50px;
        height: 50px;
        bottom: 90px;
    }
}